@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);

body {
    font-family: Montserrat, serif;
   background: linear-gradient(90deg,#F3ECE3 0%, #C8A19C 100%); 
}

.nav-link {
    color: #ffefed;
}

.navbar-nav .nav-link.active {
    color: #c2b7b5;
}

.navbar-brand img {
    width: 60px;
}

.navbar-toggler {
    background-color: beige;
}

.sidebar {
    color: #000;
    background: linear-gradient(270deg,#F3ECE3 0%, #C8A19C 100%); 
}

.card {
    background: linear-gradient(0deg,#fff5e9 0%, #ffe7e7 100%);
    color: #000; 
}

.card a {
    text-decoration: none;
    color: #000; 
}

.slide-text, 
.footer-text {
    color: #000;
    margin: auto auto;
}

footer, 
.btn-outline-primary {

     background: linear-gradient(270deg,#c3aca9 0%, #c3aca9 270%);
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
   animation: call 2s ease 5s 1 normal forwards; 
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}


@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}
